
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss";

Your custom fonts */
.ovo {
  font-family: 'Ovo', sans-serif;
}
.newsreader {
  font-family: 'Newsreader', serif;
}
.outfit {
  font-family: 'Outfit', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText;
}