
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss";

Your custom fonts */
.ovo {
  font-family: 'Ovo', sans-serif;
}
.newsreader {
  font-family: 'Newsreader', serif;
}
.outfit {
  font-family: 'Outfit', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Custom global styles */
body {
  @apply bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText overflow-x-hidden antialiased;
  overflow-x: hidden; /* Prevent horizontal scroll */
}


/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}
